
<div class="wxback"><a href="javascript:history.back(-1)"><i class="glyphicon glyphicon-chevron-left"></i> 代理详情</a></div>
<div class="wxBox">
	<div class="container">
		<div class="agent-level"><h3>代理信息</h3></div>
		<dl class="add-block-li">
			<dt>头像：</dt>
			<dd><div class="user_img " title="点击查看大图" style="cursor:pointer"><img src="{$info['avatar']}"></div></dd>
		</dl>
		<dl class="add-block-li">
			<dt>授权名称：</dt>
			<dd>{$info['auth_name']}</dd>
		</dl>
		<dl class="add-block-li">
			<dt>微信昵称：</dt>
			<dd>{$info['nickname']}</dd>
		</dl>
		<dl class="add-block-li">
			<dt>OpenId：</dt>
			<dd>{$info['openid']}</dd>
		</dl>
		<dl class="add-block-li">
			<dt>手机号：</dt>
			<dd>{$info['phone']}</dd>
		</dl>
		<dl class="add-block-li">
			<dt>微信号：</dt>
			<dd>{$info['wechat']}</dd>
		</dl>
		<dl class="add-block-li">
			<dt>地区：</dt>
			<dd>{:getCity($info['province'])} {:getCity($info['city'])} {:getCity($info['area'])} {$info['address']}</dd>
		</dl>
		<dl class="add-block-li">
			<dt>创建时间：</dt>
			<dd>{$info['reg_time']}</dd>
		</dl>
		<dl class="add-block-li">
			<dt>账户余额：</dt>
			<dd>{$info['money']}</dd>
		</dl>
		<dl class="add-block-li">
			<dt>资料状态：</dt>
			<dd>
				{if condition="$info['status'] eq 0"}
				<span class="color_red">待审核</span>
				{elseif condition="$info['status'] eq 1" /}
				<span class="color_green">正常</span>
				{elseif condition="$info['status'] eq 2" /}
				<span class="color_red">已禁用</span>
				{/if}</dd>
		</dl>
		<dl class="add-block-li">
			<dt>打款截图：</dt>
			<dd>{empty name="$info['money_img']"} {else /} <img src="{$info['money_img']}"> {/empty}</dd>
		</dl>
		<dl class="add-block-li">
			<dt>身份证照片：</dt>
			<dd>{empty name="$info['card_img']"} {else /} <img src="{$info['card_img']}"> {/empty}</dd>
		</dl>
		<div class="agent-level"><h3>授权信息</h3></div>
		<div class="agent-info nobor">
			<dl class="add-block-li">
				<dt>代理级别：</dt>
				<dd>{$info['level_name']}</dd>
			</dl>
			<dl class="add-block-li">
				<dt>上级代理：</dt>
				<dd>{:getUser($info['parent_top'])}</dd>
			</dl>
			<dl class="add-block-li">
				<dt>授权编号：</dt>
				<dd>{$config['brand_prefix']}{$info['auth_number']}</dd>
			</dl>
			<dl class="add-block-li">
				<dt>授权期限时间：</dt>
				<dd>
					{if condition="$info['status'] eq 1"}
					<em>{:date('Y年m月d日',strtotime($info['start_time']))}</em> <em class="ml-10 mr-10">~</em>	 <em>{:date('Y年m月d日',strtotime($info['end_time']))}</em>
					{else /}
					<span class="color_red">尚未授权</span>
					{/if}
				</dd>
			</dl>
		</div>
	</div>
</div>