<div class="right-panel">
	<div class="bar-title">
		<ol class="breadcrumb">
		  <li><a href="{:url('/')}">首页</a></li>
		  {foreach $url_path as $vo}
		  {empty name="$vo['url']"}
		  <li><a href="javascript:;">{$vo['name']}</a></li>
		  {else /}
		  <li><a href="{:url($vo['model'].'/'.$vo['url'])}">{$vo['name']}</a></li>
		  {/empty}
		  {/foreach}
  		  <li>查看</li>
		</ol>
	</div>
	<div class="agent-level"><h3>会员卡信息</h3></div>
	<dl class="add-block-li">
		<dt>卡号：</dt>
		<dd>{$info['card_num']}</dd>
	</dl>
	<dl class="add-block-li">
		<dt>密码：</dt>
		<dd>{$info['password']}</dd>
	</dl>
	<dl class="add-block-li">
		<dt>卡片类型：</dt>
		<dd>{$info['card_type'] == 1 ? '虚拟卡' : '实体卡'}</dd>
	</dl>
	<dl class="add-block-li">
		<dt>是否使用：</dt>
		<dd>{$info['card_state']? '已使用':'未使用'}</dd>
	</dl>
	<dl class="add-block-li">
		<dt>卡片样式：</dt>
		<dd>{foreach name="cardType" item="item"}
				{if condition="$item['id'] eq $info['card_style']"}
				{$item['name']}
				{/if}
			{/foreach}
		</dd>
	</dl>
	{if condition=" $info['card_style'] eq 2 "}
		<dl class="add-block-li">
			<dt>是否印刷：</dt>
			<dd>{$info['print_status'] ? '已印刷':'未印刷'}</dd>
		</dl>
	{/if}
	<dl class="add-block-li">
		<dt>当天试用密码次数：</dt>
		<dd>{$info['up_num']}</dd>
	</dl>
	<dl class="add-block-li">
		<dt>使用开始时间：</dt>
		<dd>{$info['start_time']|date="Y-m-d H:i:s",###}</dd>
	</dl>
	<dl class="add-block-li">
		<dt>使用结束时间：</dt>
		<dd>{$info['stop_time']|date="Y-m-d H:i:s",###}</dd>
	</dl>
	<dl class="add-block-li">
		<dt>激活使用后增加会员时间：</dt>
		<dd>{:charge_time(time()+$info['charge_time'])}</dd>
	</dl>
	<dl class="add-block-li">
		<dt>当天试用密码次数：</dt>
		<dd>{$info['up_num']}</dd>
	</dl>
	<dl class="add-block-li">
		<dt>最近修改时间：</dt>
		<dd>{$info['update_time']}</dd>
	</dl>
	<dl class="add-block-li">
		<dt>创建时间：</dt>
		<dd>{$info['add_time']|date="Y-m-d H:i:s",###}</dd>
	</dl>
	<dl class="add-block-li">
		<dt>是否冻结：</dt>
		<dd>
			{if condition="$info['state'] eq 1"}
				已启用
			{elseif condition="$info['state'] eq 3" /}
				已冻结
			{/if}
		</dd>
	</dl>
	{notempty  name='agent'}
	<div class="agent-level"><h3>代理商信息</h3></div>
	<div class="agent-info nobor">
		<dl class="add-block-li">
			<dt>代理商名称：</dt>
			<dd>{$agent['name']}</dd>
		</dl>
		<dl class="add-block-li">
			<dt>授权期限时间：</dt>
			<dd>
				{if condition="$agent['level'] gt 0 "}
					<em>{:date('Y年m月d日',$agent['start_time'])}</em> <em class="ml-10 mr-10">~</em>	 <em>{:date('Y年m月d日',$agent['stop_time'])}</em>
				{else/}
					<span class="color_red">尚未授权</span>
				{/if}
			</dd>
		</dl>
	</div>
	{/notempty}
</div>