<div class="right-panel">
    <div class="bar-title">
        <ol class="breadcrumb">
          <li><a href="{:url('/')}">首页</a></li>
          {foreach $url_path as $vo}
          {empty name="$vo['url']"}
          <li><a href="javascript:;">{$vo['name']}</a></li>
          {else /}
          <li><a href="{:url($vo['model'].'/'.$vo['url'])}">{$vo['name']}</a></li>
          {/empty}
          {/foreach}
          <li>单独发货</li>
        </ol>
    </div>
    <div class="right-content" data-model="table-bind">
        <div class="layout-ajax sys-content">
        	<form data-model="form-submit">
        		<div class="re-title"><span>订单信息</span></div>
        		<div class="re-content">
        			<p>订单编号：<em>{$info['order_id']}</em></p>
        		</div>
        		<div class="re-title"><span>发货处理</span>
                    <button class="btn btn-info del-btn first-btn" type="button" data-num="1">添加单号</button>
                </div>
                <dl>
                    <table class="table table-hover" style="margin-top: 20px;">
                        <thead>
                            <tr>
                                <th style="padding: 8px 10px;">快递公司</th>
                                <th style="padding: 8px 10px;">快递单号</th>
                                <th class="text-center" width="10%">操作</th>
                            </tr>
                        </thead>
                        <tbody id="row_list">
                            <tr id="span_sum_1">
                                <td class="text-left">
                                    <select name="express[1][com]" class="form-control" style="width: 200px;" datatype="*">
                                        {foreach $express as $k=>$vo}
                                        <option value="{$vo}">{$k}</option>
                                        {/foreach}
                                    </select>
                                </td>
                                <td class="text-left"><input type="text" name="express[1][number]" datatype="*"></td>
                                <td><button class="btn btn-danger del-btn" type="button" onclick="yichu('1')">删除</button></td>
                            </tr>
                        </tbody>
                    </table>
                </dl>
                <div class="submit-btn">
                	<input type="hidden" value="{$info['id']}" name="id">
                    <button class="btn btn-info">确定</button>
                </div>
        	</form>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function(){
    $(document).off("click", '.first-btn').on("click", '.first-btn', function(){
        var k = parseInt($(this).attr('data-num')) + 1;
        var html = '<tr id="span_sum_'+k+'">';
        html += '<td class="text-left"><select name="express['+k+'][com]" class="form-control" style="width: 200px;" datatype="*">';
        {foreach $express as $k=>$vo}
        html += '<option value="{$vo}">{$k}</option>';
        {/foreach}
        html += '</select></td>';
        html += '<td class="text-left"><input type="text" name="express['+k+'][number]" datatype="*"></td>';
        html += '<td class="text-center"><button class="btn btn-danger del-btn" type="button" onclick="yichu('+k+')">删除</button></td>';
        html += '</tr>';
        $('#row_list').append(html);
        $(this).attr('data-num',k);
    });
});
function yichu(sum){
    $("#span_sum_"+sum).remove();
}
</script>