<div class="right-panel">
    <div class="bar-title">
        <ol class="breadcrumb">
            <li><a href="{:url('/')}">首页</a></li>
            {foreach $url_path as $vo}
            {empty name="$vo['url']"}
            <li><a href="javascript:;">{$vo['name']}</a></li>
            {else /}
            <li><a href="{:url($vo['model'].'/'.$vo['url'])}">{$vo['name']}</a></li>
            {/empty}
            {/foreach}
            <li>添加代理申请链接</li>
        </ol>
    </div>
	<div class="sys-content" data-model="table-bind">
		<p>请选择要邀请的代理品牌与级别：
			<span class="layers_tips_blue" data-model="form-webtips" data-content="提示：若不代理某个品牌请选中【不选择】" data-placement="right">
                <em class="newtips"></em>
            </span>
        </p>
    	<dl style="margin-top: 25px;">
    		<dt style="min-width: 80px;"><i>*</i>上级代理：</dt>
    		<dd>
    			<input type="text" readonly="" value="总部" id="hideName">
    			<input type="hidden" id="hideParent" name="parent_id" value="0">
    			<button type="button" class="btn btn-info btn-ok" data-model="form-selectUrl" data-url="{:url('api/getUser')}" data-title="选择上级代理">选择</button>
    		</dd>
    	</dl>
        <dl>
        <dl>
            <dt style="min-width: 80px;"><i>*</i>代理级别：</dt>
            <dd id="ulBrand">
                <select class="form-control" style="width: 200px;" id="ddlAgentLevel_{$vo['id']}">
                    <option value="-1">不选择</option>
                    {foreach $brandLevel as $v2}
                    <option value="{$v2['id']}">{$v2['name']}</option>
                    {/foreach}
                </select>
            </dd>
        </dl>
    	<dl style="margin-top: 25px;">
    		<dt style="min-width: 80px;"></dt>
    		<dd>
    			<button type="button" class="btn btn-success btn-green" onclick="generate('0')">生成临时邀请链接</button>
    			<button type="button" class="btn btn-success btn-green" onclick="generate('1')">生成永久邀请链接</button>
    		</dd>
    	</dl>
	</div>
</div>
<script type="text/javascript" src="/static/admin/js/clipboard.min.js"></script>
<script type="text/javascript" src="/static/admin/js/copylink.js"></script>
<script type="text/javascript">
function call_back(data){
	$('#hideParent').val(data.id);
	$('#hideName').val(data.txt);
	Do.ready('dialog',function(){
		layer.closeAll('iframe'); // 关闭窗口
	});
}
var IsEverTime = "";
function generate(EverTime) {
Do.ready('dialog',function(){
    IsEverTime = EverTime;
    var nowTime = new Date().getTime();
    var clickTime = $(this).attr("ctime");
    if (clickTime != "undefined" && (nowTime - clickTime < 3000)) {
        layer.msg("操作太频繁,请稍后再试");
        return false;
    }
    $(this).attr("ctime", nowTime);

    var levelId = '';
    var upAgentId = $('#hideParent').val();

    $('#ulBrand select').each(function () {
        var val = $(this).val();
        console.log(val);
        var id = $(this).attr('id').split('_')[1];

        if (val != -1) {
            if (levelId == '') {
                levelId = val;
                brandId = id;
            }
            else {
                levelId += "," + val;
            }
        }
    });

    if (levelId == '') {
        layer.alert('请至少选择一个代理级别！');
        return;
    }
    var levelIdArr = levelId.split(',');
    if (levelIdArr.length > 1) {
        layer.alert('每次只能关联一个品牌');
        return;
    }

    $.ajax({
        url: "{:url('api/savelink')}",
        type: "post",
        data: {
            levelId: levelId,
            upAgentId: upAgentId,
            IsEverTime: IsEverTime
        },
        dataType: "json",
        async: false,
        success: function (result) {
            var res = result.data;
            if (result.code == "1") {
                if (IsEverTime == 0) {
                    copyPlace(res.url, res.qrCode);
                    $('#lblCountdown').html();
                    $('.lianjie p').first().replaceWith('二维码和链接地址剩余有效期：<label id="lblCountdown"></label><p>链接地址</p>');
                    $(".lianjie").css("width", "300px");
                    countdown = res.time * 60;
                    var interval = window.setInterval(function () {
                        if (intervalCount == 0) {
                            timer(countdown);
                            clearInterval(interval);
                        }
                        else
                            newInterval = 1;
                    }, 100);
                }
                else {
                    copyPlace2(res.url, '申请链接');
                }
                // erweimashow(data.qrCode);
            }
            else {
                layer.msg(result.msg);
            }
        }
    });
});
}
var intervalCount = parseInt(0);//倒计时总秒数量
var newInterval = parseInt(0);
function timer(intDiff) {
    intervalCount = 1;
    newInterval = 0;
    var interval = window.setInterval(function () {
        if (newInterval == 1) {
            intervalCount = 0;
            clearInterval(interval);
        }
        var day = 0,
            hour = 0,
            hour2 = 0,
            minute = 0,
            second = 0;//时间默认值
        if (intDiff > 0) {
            day = Math.floor(intDiff / (60 * 60 * 24));
            hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
            hour2 = Math.floor(intDiff / (60 * 60));
            minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
            second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
        }
        if (hour2 <= 9) hour2 = '0' + hour2;
        if (minute <= 9) minute = '0' + minute;
        if (second <= 9) second = '0' + second;

        if (intDiff <= 0) {
            intervalCount = 0;
            clearInterval(interval);
        }
        $('#lblCountdown').html(hour2 + ':' + minute + ':' + second);

        intDiff--;
    }, 1000);
}
</script>