<div class="right-panel">
	<div class="bar-title">
		<ol class="breadcrumb">
		  <li><a href="{:url('/')}">首页</a></li>
		  {foreach $url_path as $vo}
		  {empty name="$vo['url']"}
		  <li><a href="javascript:;">{$vo['name']}</a></li>
		  {else /}
		  <li><a href="{:url($vo['model'].'/'.$vo['url'])}">{$vo['name']}</a></li>
		  {/empty}
		  {/foreach}
		</ol>
	</div>
	<div class="right-content" data-model="table-bind">
		<div class="option-btn">
			<a href="javascript:;" data-model="form-selectUrl" data-url="{:url('/api/geitopUser',['id'=>$info['id'],'type'=>$type])}" class="btn btn-success btn-green"><i class="iconfont">&#xe6c0;</i>添加所属【{$info['name']}】总裁</a>
		</div>
		<div class="tips-alert">
			<p>
				【{$info['name']}】{$type == '1' ? '省代总裁' : '市代总裁'}
			</p>
		</div>
    	<!--  -->
    	<table class="table table-hover" data-table>
			<thead>
				<tr>
					<th class="text-center" width="20%">授权名称</th>
					<th class="text-center">代理级别</th>
					<th class="text-center">手机号</th>
					<th class="text-center">微信号</th>
					<th class="text-center">注册时间</th>
					<th class="text-center">操作</th>
				</tr>
			</thead>
			{empty name="$list"}
				<tr>
					<td colspan="6" class="text-center">没有更多数据啦</td>
				</tr>
			{else /}
				{foreach $list as $vo}
				<tr>
					<td style="vertical-align: top;">
						<div class="page-wexin-info">
                            <div class="goods-list">
                                <img id="img_806" class="img_806" src="{:getUser($vo['agent_id'],'avatar')}" alt="头像" style="width:50px;height:50px;">
                                <p>{:getUser($vo['agent_id'],'auth_name')}</p>
                            </div>
                            <div class="info f-c" style="display: none;">
                                <div class="left f-c">
                                    <img src="{:getUser($vo['agent_id'],'avatar')}" class="user_img" alt="头像">
                                </div>
                                <div class="right f-c">
                                	<p>{:getUser($vo['agent_id'],'auth_name')}</p>
                                	<p>身份证：{:getUser($vo['agent_id'],'idcard')}</p>
                                	<!-- 查询授权品牌 -->
                                </div>
                            </div>
                        </div>
					</td>
					<td class="text-center">{:getUser($vo['agent_id'],'level_name')}</td>
					<td class="text-center">{:getUser($vo['agent_id'],'phone')}</td>
					<td class="text-center">{:getUser($vo['agent_id'],'wechat')}</td>
					<td class="text-center">{:getUser($vo['agent_id'],'timestamp')}</td>
					<td class="text-center">
						<a href="javascript:void(0)" data-del data-table="agent_city" data-id="{$vo['id']}" >移除</a><br>
					</td>
				</tr>
				{/foreach}
			{/empty}
		</table>
		<div class="page">{$page}</div>
	</div>

</div>