<div class="right-panel">
	<div class="bar-title">
		<ol class="breadcrumb">
		  <li><a href="{:url('/')}">首页</a></li>
		  {foreach $url_path as $vo}
		  {empty name="$vo['url']"}
		  <li><a href="javascript:;">{$vo['name']}</a></li>
		  {else /}
		  <li><a href="{:url($vo['model'].'/'.$vo['url'])}">{$vo['name']}</a></li>
		  {/empty}
		  {/foreach}
		</ol>
	</div>
	<div class="right-content" data-model="table-bind">
		<div class="option-btn">
			<a href="{:url('addagent')}" class="btn btn-success btn-green"><i class="iconfont">&#xe6c0;</i>添加代理申请链接</a>
		</div>
		<div class="tab-title" style="margin-top: 30px;">
	        <ul class="tab-title_con">
	            <li {if condition="$id eq 0"}class="on"{/if}><a href="{:url('details')}" class="tab_2_ul_li_a">临时邀请链接</a></li>
	            <li {if condition="$id eq 1"}class="on"{/if}><a href="{:url('details',['id'=>'1'])}" class="tab_2_ul_li_a">永久邀请链接</a></li>
	        </ul>
		</div>
		<div class="option-search clearfix">
			<form method="get">
				<div class="search-item">
					<label>代理级别：</label>
					<select class="form-control" name="level" id="ddlAgentLevel" data-model="form-select" style="width: 200px;">
						<option value="-1">全部</option>
						{php} $levelId = isset($data['level']) ? $data['level'] : '-1';{/php}
						{foreach $level as $vo}
						<option value="{$vo['id']}" {if condition="$levelId eq $vo['id']"}selected{/if}>{$vo['name']}</option>
						{/foreach}
					</select>
				</div>
				{if condition="$id eq 0"}
				<div class="search-item">
					<label>状态：</label>
					{php} $state = isset($data['state']) ? $data['state'] : '-1';{/php}
					<select class="form-control" name="state" data-model="form-select" style="width: 200px;">
						<option value="-1">全部</option>
						<option value="0" {if condition="$state eq 0"}selected{/if}>未过期</option>
						<option value="1" {if condition="$state eq 1"}selected{/if}>已过期</option>
					</select>
				</div>
				{/if}
				<div class="search-item">
					<button class="btn btn-info btn-ok">搜索</button>
					<!-- <button class="btn btn-default btn-cancle" name="exp" value="1">导出</button> -->
				</div>
			</form>
		</div>
		<!--  -->
		{if condition="$id eq 0"}
		<table class="table table-hover" data-table>
			<thead>
				<tr>
					<th class="text-center" width="40px">ID</th>
					<th class="text-center" width="12%">创建人授权名称</th>
					<th class="text-center" width="12%">创建人授权编号</th>
					<th class="text-center" width="15%">生成时间</th>
					<th class="text-center" width="15%">邀请级别信息</th>
					<th class="text-center" width="8%">状态</th>
					<th class="text-center" width="8%">打开次数</th>
					<th class="text-center" width="8%">申请次数</th>
					<th class="text-center" width="8%">操作</th>
				</tr>
			</thead>
			<tbody>
				{empty name="$list"}
				<tr>
					<td colspan="9" class="text-center">没有更多数据啦</td>
				</tr>
				{else /}
				{foreach $list as $vo}
				<tr>
					<td class="text-center">{$vo['id']}</td>
					<td class="text-center">{:getUser($vo['uid'])}</td>
					<td class="text-center">
						{:getUser($vo['uid'],'auth_number')}
					</td>
					<td class="text-center">{$vo['timestamp']}</td>
					<td class="text-center">
						{php}$levelName = db('agent_level')->where('id','in',$vo['level_id'])->value('name');{/php}
						{$levelName}
					</td>
					<td class="text-center">
						{php}$endTime = strtotime($vo['end_time']);$time = time();{/php}
						{if condition="$time gt $endTime"}
						已过期
						{else /}
						未过期
						{/if}
					</td>
					<td class="text-center">{$vo['open_num']}</td>
					<td class="text-center">{$vo['apply_num']}</td>
					<td class="text-center">
						{if condition="$time gt $endTime"}
						-
						{else /}
						<a href="javascript:;" onclick="generate('{$vo['id']}','0')">查看邀请</a>
						{/if}
					</td>
				</tr>
				{/foreach}
				{/empty}
			</tbody>
		</table>
		{elseif condition="$id eq 1" /}
		<table class="table table-hover" data-table>
			<thead>
				<tr>
					<th class="text-center" width="5%">ID</th>
					<th class="text-center">创建人</th>
					<th class="text-center">生成时间</th>
					<th class="text-center">邀请级别信息</th>
					<th class="text-center">打开次数</th>
					<th class="text-center">申请次数</th>
					<th class="text-center">操作</th>
				</tr>
			</thead>
			<tbody>
				{empty name="$list"}
				<tr>
					<td colspan="7" class="text-center">没有更多数据啦</td>
				</tr>
				{else /}
				{foreach $list as $vo}
				<tr>
					<td class="text-center">{$vo['id']}</td>
					<td class="text-center">{:getUser($vo['uid'])}</td>
					<td class="text-center">{$vo['timestamp']}</td>
					<td class="text-center">
						{php}$levelName = db('agent_level')->where('id','in',$vo['level_id'])->value('name');{/php}
						{$levelName}
					</td>
					<td class="text-center">{$vo['open_num']}</td>
					<td class="text-center">{$vo['apply_num']}</td>
					<td class="text-center">
						<a href="javascript:;" onclick="generate('{$vo['id']}','1')">复制Url</a><em>-</em><a href="javascript:;" data-del data-id="{$vo['id']}" data-table="link">删除</a>
					</td>
				</tr>
				{/foreach}
				{/empty}
			</tbody>
		</table>
		{/if}
		<div class="pages">{$page}</div>
	</div>
</div>
<script type="text/javascript" src="/static/admin/js/admin.js"></script>
<script type="text/javascript" src="/static/admin/js/clipboard.min.js"></script>
<script type="text/javascript" src="/static/admin/js/copylink.js"></script>
<script type="text/javascript">
var IsEverTime = "";
function generate(id,EverTime) {
Do.ready('dialog',function(){
	IsEverTime = EverTime;
    $.ajax({
        url: "{:url('getLinks')}",
        type: "post",
        data: {
            id: id,
            type: IsEverTime
        },
        dataType: "json",
        async: false,
        success: function (result) {
            var res = result.data;
            if (result.code == "1") {
                if (IsEverTime == 0) {
                	$('#lblCountdown').html();
                    copyPlace(res.url, res.qrCode);
                    $('.lianjie p').first().replaceWith('二维码和链接地址剩余有效期：<label id="lblCountdown"></label><p>链接地址</p>');
                    $(".lianjie").css("width", "300px");
                    countdown = res.time;
                    var interval = window.setInterval(function () {
                        if (intervalCount == 0) {
                            timer(countdown);
                            clearInterval(interval);
                        }
                        else
                            newInterval = 1;
                    }, 100);
                }
                else {
                    copyPlace2(res.url, '申请链接');
                }
                // erweimashow(data.qrCode);
            }
            else {
                layer.msg(result.msg);
            }
        }
    });
});
}
var intervalCount = parseInt(0);//倒计时总秒数量
var newInterval = parseInt(0);
function timer(intDiff) {
    intervalCount = 1;
    newInterval = 0;
    var interval = window.setInterval(function () {
        if (newInterval == 1) {
            intervalCount = 0;
            clearInterval(interval);
        }
        var day = 0,
            hour = 0,
            hour2 = 0,
            minute = 0,
            second = 0;//时间默认值
        if (intDiff > 0) {
            day = Math.floor(intDiff / (60 * 60 * 24));
            hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
            hour2 = Math.floor(intDiff / (60 * 60));
            minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
            second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
        }
        if (hour2 <= 9) hour2 = '0' + hour2;
        if (minute <= 9) minute = '0' + minute;
        if (second <= 9) second = '0' + second;

        if (intDiff <= 0) {
            intervalCount = 0;
            clearInterval(interval);
        }
        $('#lblCountdown').html(hour2 + ':' + minute + ':' + second);

        intDiff--;
    }, 1000);
}
</script>