<div class="right-panel">
	<div class="bar-title">
		<ol class="breadcrumb">
		  <li><a href="{:url('/')}">首页</a></li>
		  {foreach $url_path as $vo}
		  {empty name="$vo['url']"}
		  <li><a href="javascript:;">{$vo['name']}</a></li>
		  {else /}
		  <li><a href="{:url($vo['model'].'/'.$vo['url'])}">{$vo['name']}</a></li>
		  {/empty}
		  {/foreach}
  		  <li>{if condition="$id gt 0"}查看修改{else /}添加代理级别{/if}</li>
		</ol>
	</div>
	<div class="sys-content">
		<div class="alert alert-default">提示：选择关联代理后该扩展代理级别则享受关联代理相同奖励</div>
		<form data-model="form-submit">
	        <dl>
	            <dt><i>*</i>关联代理：</dt>
	            <dd>
	            	<select name="parent_id" class="select" data-model="form-select" style="width: 290px!important" datatype="*" {notempty name="info"}disabled=""{/notempty}>
	            		{foreach $list as $vo}
	                    <option value="{$vo['id']}" {if condition="$info['parent_id'] eq $vo['id']"}selected{/if}>{$vo['name']}</option>
	            		{/foreach}
	                </select>
	                {notempty name="info"}
	                <input type="hidden" name="parent_id" value="{$info['parent_id']}">
	                {/notempty}
	            	<div class="tip-alert"></div>
	            </dd>
	        </dl>
	        <dl>
	            <dt><i>*</i>级别名称：</dt>
	            <dd>
	            	<input type="text" style="width: 150px" name="name" class="form-controls" datatype="*" value="{$info['name']}">
	            	<i>最多允许8个汉字或16个字符</i>
	            	<div class="tip-alert"></div>
	            </dd>
	        </dl>
	        <dl>
	            <dt><i>*</i>级别申请金额：</dt>
	            <dd>
	            	<input type="text" style="width: 150px" name="money" class="form-controls" datatype="*" value="{$info['money']}">
	            	<i></i>
	            	<div class="tip-alert"></div>
	            </dd>
	        </dl>
	        <dl>
	            <dt><i>*</i>享受分红范围：</dt>
	            <dd>
	            	<select name="area_type" class="select" data-model="form-select" style="width: 290px!important" datatype="*">
	                    <option value="1" {if condition="$info['area_type'] eq 1"}selected{/if}>当前代理所在全市</option>
	                    <option value="2" {if condition="$info['area_type'] eq 2"}selected{/if}>当前代理所在全省</option>
	                </select>

	            	<div class="tip-alert"></div>
	            </dd>
	        </dl>
	        <dl>
	            <dt><i>*</i>分红比例：</dt>
	            <dd>
	            	<input type="text" style="width: 150px" name="area_ratio" class="form-controls" datatype="*" value="{$info['area_ratio']}">
	            	<i>%</i> 
	            	<div class="tip-alert"></div>
	            </dd>
	        </dl>
	        <dl>
	            <dt>授权期限：</dt>
	            <dd>
	            	<input type="text" style="width: 50px" name="txtMounth" class="form-controls" datatype="n" value="{$info['txtMounth'] ? $info['txtMounth'] : $config['brand_long']}">
	            	<em>月</em>
	            	<i> 授权的有效时间</i>
	            </dd>
	        </dl>
	        <dl>
	            <dt>授权书模板：</dt>
	            <dd>
	            	<div class="upload-panel">
	            		<a href="javascript:;" data-model="form-upload" data-target="#images" data-preview="#uploadImage_2" class="btn btn-ok"><i class="iconfont">&#xe74a;</i> 上传图片</a>
	            	</div>
	            	<input type="hidden" name="tplimg" value="{$info['tplimg']}" id="images">
		            <div class="help-block">(推荐尺寸为640px*1008px，大小不超过500k，支持jpg、png、gif、jpeg格式)</div>
	            	<div class="upload-prview">
	            		<img style="width:expression(this.width > 105 ? 105px : this.width)" src="{$info['tplimg']}" id="uploadImage_2">
	            	</div>
	            </dd>
	        </dl>
	        <div class="submit-btn">
	        	<input type="hidden" value="{$info['id']}" name="id">
	            <button class="btn btn-info">保存设置</button>
	        </div>
		</form>
	</div>
</div>