<div class="right-panel">
	<div class="bar-title">
		<ol class="breadcrumb">
		  <li><a href="{:url('/')}">首页</a></li>
		  {foreach $url_path as $vo}
		  {empty name="$vo['url']"}
		  <li><a href="javascript:;">{$vo['name']}</a></li>
		  {else /}
		  <li><a href="{:url($vo['model'].'/'.$vo['url'])}">{$vo['name']}</a></li>
		  {/empty}
		  {/foreach}
  		  <li>{if condition="$id gt 0"}查看修改{else /}添加代理级别{/if}</li>
		</ol>
	</div>
	<div class="sys-content">
		<form data-model="form-submit">
	        <dl>
	            <dt><i>*</i>代理级别：</dt>
	            <dd>
	            	{empty name="$info"}
	            	<input type="text" style="width: 100px;background: #f0f0f0;" value="{$max}" readonly="" name="level_num" class="form-controls" datatype="n">
	            	{else /}
	            	<input type="text" style="width: 100px;background: #f0f0f0;" value="{$info['level_num']}" class="form-controls" readonly="">
	            	{/empty}
	            	<i>1-10，系统自动按顺序分配</i>
	            	<div class="tip-alert"></div>
	            </dd>
	        </dl>
	        <dl>
	            <dt><i>*</i>级别名称：</dt>
	            <dd>
	            	<input type="text" style="width: 150px" name="name" class="form-controls" datatype="*" value="{$info['name']}">
	            	<i>最多允许8个汉字或16个字符</i>
	            	<div class="tip-alert"></div>
	            </dd>
	        </dl>
	        <dl>
	            <dt><i>*</i>级别申请金额：</dt>
	            <dd>
	            	<input type="text" style="width: 150px" name="money" class="form-controls" datatype="*" value="{$info['money']}">
	            	<i></i>
	            	<div class="tip-alert"></div>
	            </dd>
	        </dl>
	        <dl>
	            <dt><i>*</i>单笔充值最大金额：</dt>
	            <dd>
	            	<input type="text" style="width: 150px" name="max_recharge" class="form-controls" datatype="*" value="{$info['max_recharge']}">
	            	<i>0为不限制</i>
	            	<div class="tip-alert"></div>
	            </dd>
	        </dl>
	        <dl>
	            <dt><i>*</i>首笔订单限定金额：</dt>
	            <dd>
	            	<input type="text" style="width: 150px" name="order_money" class="form-controls" datatype="*" value="{$info['order_money']}">
	            	<i></i>
	            	<div class="tip-alert"></div>
	            </dd>
	        </dl>
	        <dl>
	            <dt><i>*</i>首单享受折扣：</dt>
	            <dd>
	            	<input type="text" style="width: 150px" name="rebate" class="form-controls" datatype="*" value="{$info['rebate']}"><em>折</em>
	            	<i></i>
	            	<div class="tip-alert"></div>
	            </dd>
	        </dl>
	        <dl>
	            <dt><i>*</i>复购享受折扣：</dt>
	            <dd>
	            	<input type="text" style="width: 150px" name="order_rebate" class="form-controls" datatype="*" value="{$info['order_rebate']}"><em>折</em>
	            	<i></i>
	            	<div class="tip-alert"></div>
	            </dd>
	        </dl>
	        <dl>
	            <dt><i>*</i>是否必须上传证件：</dt>
	            <dd>
	            	<label class="radio-inline"><input type="radio" name="is_card" {$info['is_card']==1 ? 'checked' : ''} value="1">必须上传身份证+打款凭证</label>
	            	<label class="radio-inline"><input type="radio" name="is_card" {$info['is_card']==0 ? 'checked' : ''} value="0">只需打款凭证</label>
	            	<div class="tip-alert"></div>
	            </dd>
	        </dl>
	        <dl>
	            <dt><i>*</i>发货：</dt>
	            <dd>
	            	<select name="ddlDelivery" class="select" data-model="form-select" style="width: 262px!important" datatype="*">
	                    <option value="">请选择</option>
	                    <option value="1" {$info['ddlDelivery']==1 ? 'selected' : ''}>只能给直属代理发货</option>
	                    <option value="2" {$info['ddlDelivery']==2 ? 'selected' : ''}>不可以</option>
	                </select>
	            	<div class="tip-alert"></div>
	            </dd>
	        </dl>
	        <dl>
	            <dt><i>*</i>充值审核：</dt>
	            <dd>
	            	<label class="radio-inline"><input type="radio" name="recharge" {$info['recharge']==1 ? 'checked' : ''} value="1">上级直接审核</label>
	            	<label class="radio-inline"><input type="radio" name="recharge" {$info['recharge']==2 ? 'checked' : ''} value="2">需总部二次审核</label>
	            	<div class="tip-alert"></div>
	            </dd>
	        </dl>
	        <dl>
	            <dt><i>*</i>销售业绩计算：</dt>
	            <dd>
	            	<label class="radio-inline"><input type="radio" name="first_money" {$info['first_money']==1 ? 'checked' : ''} value="1">计算首单充值金额+正常充值金额</label>
	            	<label class="radio-inline"><input type="radio" name="first_money" {$info['first_money']==0 ? 'checked' : ''} value="0">正常充值金额</label>
	            	<span class="layers_tips_blue" data-model="form-webtips" data-content="" data-placement="right">
	                    <em class="newtips"></em>
	                </span>
	            	<div class="tip-alert"></div>
	            </dd>
	        </dl>
	        <dl>
	            <dt><i>*</i>审核机制：</dt>
	            <dd>
	            	<select name="auditing" class="select" data-model="form-select" style="width: 290px!important" datatype="*">
	                    <option value="">请选择</option>
	                    <option value="1" {$info['auditing']==1 ? 'selected' : ''}>由上级审核,验证款项,总部二次审核</option>
	                    <option value="2" {$info['auditing']==2 ? 'selected' : ''}>由上级审核,不验证款项</option>
	                    <option value="3" {$info['auditing']==3 ? 'selected' : ''}>由公司审核</option>
	                </select>
	            	<div class="tip-alert"></div>
	            </dd>
	        </dl>
	        <dl>
	            <dt><i>*</i>查看：</dt>
	            <dd>
	            	<select name="ddlSee" class="select" data-model="form-select" style="width: 262px!important" datatyp="*">
	                    <option value="">请选择</option>
	                    <option value="1" {$info['ddlSee']==1 ? 'selected' : ''}>可查看所有下属代理</option>
	                    <option value="2" {$info['ddlSee']==2 ? 'selected' : ''}>只能查看直属代理</option>
	                    <option value="3" {$info['ddlSee']==3 ? 'selected' : ''}>不可以</option>
	                </select>
	            	<div class="tip-alert"></div>
	            </dd>
	        </dl>
	        <dl>
	            <dt>订单审核设置：</dt>
	            <dd>
	            	<label class="checkbox-inline"><input type="checkbox" name="IsCheckOrder" value="1" {$info['IsCheckOrder']==1 ? 'checked' : ''}>可审核下级或平级订单</label>
	            	<label class="checkbox-inline"><input type="checkbox" name="IsCancelCheckedOrder" value="1" {$info['IsCancelCheckedOrder']==1 ? 'checked' : ''}>审核后可取消订单</label>
	                <span class="layers_tips_blue" data-model="form-webtips" data-content="可审核下级或平级订单：勾选后代理可在代理后台审核下级或平级提交的订单，审核后可进行发货；<br>审核后可取消订单：勾选后代理在代理后台可取消审核过的订单，<br>订单取消后仍会计算平级返利或团队业绩，请谨慎勾选该权限。" data-placement="right">
	                    <em class="newtips"></em>
	                </span>
	            </dd>
	        </dl>
	        <dl>
	            <dt>授权期限：</dt>
	            <dd>
	            	<input type="text" style="width: 50px" name="txtMounth" class="form-controls" datatype="n" value="{$info['txtMounth'] ? $info['txtMounth'] : $config['brand_long']}">
	            	<em>月</em>
	            	<i> 授权的有效时间</i>
	            </dd>
	        </dl>
	        <dl>
	            <dt>授权书模板：</dt>
	            <dd>
	            	<div class="upload-panel">
	            		<a href="javascript:;" data-model="form-upload" data-target="#images" data-preview="#uploadImage_2" class="btn btn-ok"><i class="iconfont">&#xe74a;</i> 上传图片</a>
	            	</div>
	            	<input type="hidden" name="tplimg" value="{$info['tplimg']}" id="images">
		            <div class="help-block">(推荐尺寸为640px*1008px，大小不超过500k，支持jpg、png、gif、jpeg格式)</div>
	            	<div class="upload-prview">
	            		<img style="width:expression(this.width > 105 ? 105px : this.width)" src="{$info['tplimg']}" id="uploadImage_2">
	            	</div>
	            </dd>
	        </dl>
	        <div class="submit-btn">
	        	<input type="hidden" value="{$info['id']}" name="id">
	            <button class="btn btn-info">保存设置</button>
	        </div>
		</form>
	</div>
</div>