<style type="text/css">
.sys-content{padding: 0px 20px 0px 20px;}
.sys-content dl dt{min-width: auto;}
.layout-ajax.sys-content .submit-btn{position: fixed;bottom: 0;margin-left: 0;margin-top: 0;padding: 10px;border-top: 1px solid #efefef;width: 100%;left: 0;text-align: right;background: #fff;z-index: 99;}
</style>
<div class="layout-ajax sys-content">
	<form data-model="form-submit">
		<div class="re-title"><span>代理信息</span></div>
		<div class="re-content">
			<p>授权名称：<em>{$info['auth_name']}</em></p>
			<p>货款余额：<em>{$info['money']}</em></p>
			<p>奖金池总额：<em>{$info['reward_money']}</em></p>
		</div>
		<div class="re-title"><span>处理选择</span></div>
		<dl class="add-block-li">
	        <dt></dt>
	        <dd>
	            <label class="radio-inline"><input type="radio" name="type" value="1" style="margin-top: 0" checked="">扣除货款</label>
	            <label class="radio-inline"><input type="radio" name="type" value="2" style="margin-top: 0">扣除奖金池金额</label>
	        </dd>
	    </dl>
		<dl>
			<dt><i>*</i>处理额度：</dt>
			<dd><input type="text" class="form-controls" name="money" datatype="*"></dd>
		</dl>
	    <dl class="add-block-li">
	        <dt><i>*</i>处理留言：</dt>
	        <dd><textarea class="form-control" rows="2" placeholder="必填项" name="remark" style="width: 400px;"></textarea></dd>
	    </dl>
        <div class="submit-btn">
        	<input type="hidden" value="{$info['id']}" name="id">
            <button class="btn btn-info">确定</button>
        </div>
	</form>
</div>