<div class="right-panel">
	<div class="bar-title">
		<ol class="breadcrumb">
		  <li><a href="{:url('/')}">首页</a></li>
		  {foreach $url_path as $vo}
		  {empty name="$vo['url']"}
		  <li><a href="javascript:;">{$vo['name']}</a></li>
		  {else /}
		  <li><a href="{:url($vo['model'].'/'.$vo['url'])}">{$vo['name']}</a></li>
		  {/empty}
		  {/foreach}
		</ol>
	</div>
    <div class="right-content" data-model="table-bind">
    	<table class="table table-hover" data-table>
			<thead>
				<tr>
					<th class="text-left"><span style="padding: 0 10px;">省级代理</span></th>
					<th class="text-left"><span style="padding: 0 10px;">归属省份</span></th>
					<th class="text-center">操作</th>
				</tr>
			</thead>
			<tbody>
				{empty name="$list"}
				<tr>
					<td colspan="7" class="text-center">没有更多数据啦</td>
				</tr>
				{else /}
				{foreach $list as $vo}
				<tr>
					{php}$cityAgent = db('agent_city')->where(['is_reward'=>'1','area_id'=>$vo['id']])->select();{/php}
					<td style="vertical-align: top;">
						{empty name="$cityAgent"}
						<p>未设置</p>
						{else /}
						<p><a href="">已设置</a></p>
						<div class="page-wexin-info">
                            <div class="goods-list">
                                <img id="img_806" class="img_806" src="{:getUser($cityAgent['agent_id'],'avatar')}" alt="头像" style="width:50px;height:50px;">
                                <p>{:getUser($cityAgent['agent_id'],'auth_name')}</p>
                            </div>
                            <div class="info f-c" style="display: none;">
                                <div class="left f-c">
                                    <img src="{:getUser($cityAgent['agent_id'],'avatar')}" class="user_img" alt="头像">
                                </div>
                                <div class="right f-c">
                                	<p>{:getUser($cityAgent['agent_id'],'auth_name')}</p>
                                	<p>身份证：{:getUser($cityAgent['agent_id'],'idcard')}</p>
                                	<!-- 查询授权品牌 -->
                                </div>
                            </div>
                        </div>
                        {/empty}
					</td>
					<td class="text-left">{$vo['name']}</td>
					<td>
						<a href="{:url('city',['id'=>$vo['id']])}">下属市级</a><em>-</em><a href="javascript:;" data-model="form-selectUrl" data-url="{:url('/api/setCity',['id'=>$vo['id']])}">更改代理</a><br />
						<a href="javascript:;"  data-model="form-selectUrl" data-url="{:url('/api/geitopUser',['id'=>$vo['id'],'type'=>'1'])}">添加代理</a><em>-</em><a href="{:url('agent_list',['type'=>'1','id'=>$vo['id']])}">代理列表</a>
					</td>
				</tr>
				{/foreach}
				{/empty}
			</tbody>
		</table>
		<div class="pages">{$page}</div>
    </div>
</div>