<div class="right-panel">
	<div class="bar-title">
		<ol class="breadcrumb">
		  <li><a href="{:url('/')}">首页</a></li>
		  {foreach $url_path as $vo}
		  {empty name="$vo['url']"}
		  <li><a href="javascript:;">{$vo['name']}</a></li>
		  {else /}
		  <li><a href="{:url($vo['model'].'/'.$vo['url'])}">{$vo['name']}</a></li>
		  {/empty}
		  {/foreach}
		</ol>
	</div>
	<div class="right-content" data-model="table-bind">
		<div class="option-search clearfix">
			<form method="get">
				<div class="search-item">
					<select class="form-control" name="type" style="width: 150px;">
						<option value="1">授权编号</option>
						<option value="2">手机号</option>
						<option value="3">微信号</option>
					</select>
				</div>
				<div class="search-item">
					<input type="text" class="form-control" name="key" value="" style="width: 280px;">
				</div>
				<div class="search-item">
					<button class="btn btn-info btn-ok" type="button" id="submit">搜索</button>
				</div>
			</form>
		</div>
		<div class="user-box">
			<div class="row">
				<div class="col-xs-8">
					<div class="user-list">
						<div class="page-DailiTree">
							<ul>
								<li id="all"><span><i class="icon-all"></i>{$config['brand_name']} - 总部</span></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="user-info iphone page-apply" id="userInfo"></div>
				</div>
			</div>
		</div>
		<!--  -->
	</div>
</div>
<script type="text/javascript">
$(function(){
	getSon("#all",0,'1');
	$("#submit").click(function(){
		var data = $("form").serialize();
		getSearch("#all",data,'1');
	});
});
function getSon(obj,uid,top){
	$.get("{:url('api/ajax_user')}",{uid:uid},function(html){
		if(top == 1){
			$(obj).append(html);
		}else{
			$(obj).parent().append(html);
		}
	},'JSON');
}
function getSearch(obj,data,top){
	$.get("{:url('api/ajax_user')}",data,function(html){
		if(top == 1){
			$(obj).html('<span><i class="icon-all"></i>{$config['brand_name']} - 总部</span>');
			$(obj).append(html);
		}else{
			$(obj).parent().append(html);
		}
	},'JSON');
}
</script>
