<div class="right-panel">
	<div class="bar-title">
		<ol class="breadcrumb">
		  <li><a href="{:url('/')}">首页</a></li>
		  {foreach $url_path as $vo}
		  {empty name="$vo['url']"}
		  <li><a href="javascript:;">{$vo['name']}</a></li>
		  {else /}
		  <li><a href="{:url($vo['model'].'/'.$vo['url'])}">{$vo['name']}</a></li>
		  {/empty}
		  {/foreach}
  		  <li>修改</li>
		</ol>
	</div>
	<div class="sys-content">
		<form data-model="form-submit">
	        <dl>
	            <dt><i>*</i>授权名称：</dt>
	            <dd>
	            	<input type="text" class="form-controls" name="name" datatype="*1-16" value="{$info['name']}">
	            	<i>最多8个汉字或16个英文字符</i>
	            </dd>
	        </dl>
	        <dl>
	            <dt><i>*</i>手机号：</dt>
	            <dd>
	            	<input type="text" class="form-controls" name="phone" datatype="m" value="{$info['user_all']['phone']}">
	            </dd>
	        </dl>
	        <dl>
	            <dt>是否商家：</dt>
	            <dd>
	            	<label class="radio-inline"><input type="radio" name="business" {if condition="$info['business'] eq 1"}checked{/if} value="1">是</label>
	            	<label class="radio-inline"><input type="radio" name="business" {if condition="$info['business'] eq 0"}checked{/if} value="0">否</label>
	            	<!-- <em>元</em>
	            	<i>（支持2位小数点）</i> -->
	            	<div class="tip-alert"></div>
	            </dd>
	        </dl>
	        <dl>
	            <dt><i>*</i>代理期限时间：</dt>
	            <dd style="">
	            	<div class="search-item" style="position:relative;height:20px;">
						<input type="text" class="form-control" name="start_time" style="width: 150px;float:left;position:absolute;left:0px;background:#fff;" value="{if condition="$info['id'] neq 0"}{$info.start_time|date="Y-m-d H:i:s",###}{else/}{:date('Y-m-d H:i:s',time())}{/if}" data-model="form-time" readonly=""><em style="float:left;margin-top:5px;position:absolute;left:160px;width:10px;">--</em>
						<input type="text" class="form-control" name="stop_time" style="width: 150px;float:left;position:absolute;left:190px;background:#fff;" value="{if condition="$info['id'] neq 0"}{$info.stop_time|date="Y-m-d H:i:s",###}{else/}{:date('Y-m-d H:i:s',time())}{/if}"" data-model="form-time" readonly="">
					</div>
	            </dd>
	        </dl>
	        <dl>
	            <dt>身份证号码：</dt>
	            <dd>
	            	<input type="text" class="form-controls" name="card_num" value="{$info['card_num']}">
	            </dd>
	        </dl>
	        <!-- <dl>
	            <dt><i>*</i>登录密码：</dt>
	            <dd>
	            	{empty name="$info['password']"}
	            	未设置 <a id="PassWordEdit" class="word ml-20 ml-10" style="cursor:pointer" data-model="dialogs-open" data-width="420px" data-height="280px" data-url="{:url('api/setpasw',['id'=>$info['id']])}">设置密码</a>
	            	{else /}
	            	已设置	<a id="PassWordEdit" class="word ml-20 ml-10" style="cursor:pointer" data-model="dialogs-open" data-width="420px" data-height="280px" data-url="{:url('api/setpasw',['id'=>$info['id']])}">修改密码</a>
	            	{/empty}
	            	<span class="layers_tips_blue" data-model="form-webtips" data-content="此密码设置后，代理可使用手机号码和该密码作为账号登录代理后台，请谨慎操作！" data-placement="top">
	                    <em class="newtips"></em>
	                </span>
	            </dd>
	        </dl> -->
	        <!-- <dl>
	            <dt>地区：</dt>
	            <dd>
	            	<select class="form-control" name="province" id="ddlProvince" data-model="form-select" style="width: 110px;">
						<option value="-1">省份</option>
						{foreach $region as $vo}
						<option value="{$vo['id']}" {if condition="$info['province'] eq $vo['id']"}selected{/if}>{$vo['name']}</option>
						{/foreach}
					</select>
					<select class="form-control" name="city" id="ddlCity" data-model="form-select" style="width: 110px;">
						<option value="-1">城市</option>
					</select>
					<select class="form-control" name="area" id="ddlArea" data-model="form-select" style="width: 110px;">
						<option value="-1">区域</option>
					</select>
	            </dd>
	        </dl> -->
	        <!-- <dl>
	            <dt><i>*</i>收货地址：</dt>
	            <dd>
	            	<textarea class="form-controls" rows="5" name="address">{$info['address']}</textarea><i>最多50个字</i>
	            </dd>
	        </dl> -->
	        <!-- <dl>
	            <dt>身份证照片：</dt>
	            <dd>
	            	<div class="upload-panel">
	            		<a href="javascript:;" data-model="form-upload" data-target="#card_img" data-preview="#card_img_2" class="btn btn-ok"><i class="iconfont">&#xe74a;</i> 上传图片</a>
	            	</div>
	            	<input type="hidden" name="card_img" value="{$info['card_img']}" id="card_img">
	            	<div class="upload-prview">
	            		<img style="width:expression(this.width > 105 ? 105px : this.width)" src="{$info['card_img']}" id="card_img_2">
	            	</div>
	            </dd>
	        </dl> -->
	        <!-- <dl style="margin-top: 25px;">
	    		<dt>代理级别：</dt>
	    		<dd>{$info['level']} <a id="PassWordEdit" class="word ml-20 ml-10" style="cursor:pointer" data-model="dialogs-open" data-width="40%" data-height="580px" data-url="{:url('api/setlevel',['id'=>$info['uid']])}">修改级别</a></dd>
	    	</dl> -->
	        <div class="submit-btn">
	        	<input type="hidden" value="{$info['id']}" name="id">
	        	<input type="hidden" value="{$info['uid']}" name="uid">
	            <button class="btn btn-info">保存</button>
	        </div>
		</form>
	</div>
</div>
<script type="text/javascript" src="/static/admin/js/admin.js"></script>
<script type="text/javascript">
function call_back(data){
	console.log(data)
}
</script>
<script type="text/javascript">
$(function () {
	{php} $cityId = isset($info['city']) ? $info['city'] : '-1';{/php}
	{php} $areaId = isset($info['area']) ? $info['area'] : '-1';{/php}
	GetComboboxTwo("ddlProvince", "ddlCity", "{:url('getregion')}", "id", "name", { levelId: 0 }, "id", "-1", "城市", "{$cityId}", "-1");
	setTimeout(function () {
        GetComboboxTwo("ddlCity", "ddlArea", "{:url('getregion')}", "id", "name", { levelId: 0 }, "id", "-1", "加载中", "{$areaId}", "-1");
    },1000);
});
</script>